.btn {
    padding: 0.3rem 2.5rem !important;
    font-weight: bold !important;
}

.btn-primary {
    background-color: $primary-color !important;
}

.btn-orange {
    background-color: $lime-color !important;
    color: $orange-color !important;
}

.btn-gray {
    background-color: $gray-color !important;
    color: $purple-color !important;
}
